{% extends "./admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}


{% block content %}
{{block.super}}
<script>
    var node_parents = {
    {% for pipe in pipe_list %}
    {% for step in pipe.steps %}
    {% if not step.is_empty %} "{{ step.complete_name }}" : [{% for item in step.requirement_stack %}"{{ item }}", {% endfor %}], {% endif %}
    {% endfor %}
    {% endfor %}
    };

    console.log(node_parents)


    // Function to highlight a node
    function highlightNode(node_id) {
        var inner_node = document.getElementById(node_id).querySelector('.node_internal');
        inner_node.classList.add('highlighted_requirement');
    }

    function highlightLine(current_node, parent_node) {
        var line = document.getElementById(current_node + "-" + parent_node);
        line.stroke = "green";
        line.style = "stroke:green;stroke-width:8";
    }

    // Function to restore a node's style
    function restoreNodeStyle(node_id) {
        var inner_node = document.getElementById(node_id).querySelector('.node_internal');
        inner_node.classList.remove('highlighted_requirement');
    }

    function restoreLineStyle(current_node, parent_node) {
        var line = document.getElementById(current_node + "-" + parent_node);
        line.stroke = "black";
        line.style = "stroke:black;stroke-width:1";
    }

    function check_parents(node_id, highlight = true) {
        if (node_parents.hasOwnProperty(node_id)) {
            var parent_ids = node_parents[node_id];
            for (let j = 0; j < parent_ids.length; j++) {
                if (highlight) {
                    highlightNode(parent_ids[j]);
                    highlightLine(node_id, parent_ids[j]);
                }
                else {
                    restoreNodeStyle(parent_ids[j]);
                    restoreLineStyle(node_id, parent_ids[j]);
                }
                check_parents(parent_ids[j], highlight);
            }
        }
    }

    function mouse_in_node() {
        var node_id = this.id;
        check_parents(node_id, true);
        // if (node_parents.hasOwnProperty(node_id)) {
        //     var parent_ids = node_parents[node_id];
        //     for (let j = 0; j < parent_ids.length; j++) {
        //         highlightNode(parent_ids[j]);
        //         var line = document.getElementById(node_id + "-" + parent_ids[j]);
        //         line.stroke = "green";
        //         line.style = "stroke:green;stroke-width:8";
        //     }
        // }
    }

    function mouse_out_node() {
        var node_id = this.id;
        check_parents(node_id, false);
        // if (node_parents.hasOwnProperty(node_id)) {
        //     var parent_ids = node_parents[node_id];
        //     for (let j = 0; j < parent_ids.length; j++) {
        //         restoreNodeStyle(parent_ids[j]);
        //         var line = document.getElementById(node_id + "-" + parent_ids[j]);
        //         line.stroke = "black";
        //         line.style = "stroke:black;stroke-width:1";
        //     }
        // }
    }

    function connectElements(element1, element2) {
        var svg = document.querySelector('svg');
        var line = document.createElementNS('http://www.w3.org/2000/svg', 'line');

        line.setAttribute('stroke', 'black');

        svg.appendChild(line);

        var rect1 = element1.getBoundingClientRect();
        var rect2 = element2.getBoundingClientRect();

        var svgRect = svg.getBoundingClientRect();

        line.setAttribute('x1', rect1.left + rect1.width / 2 - svgRect.left);
        line.setAttribute('y1', rect1.top + rect1.height / 2 - svgRect.top);
        line.setAttribute('x2', rect2.left + rect2.width / 2 - svgRect.left);
        line.setAttribute('y2', rect2.top + rect2.height / 2 - svgRect.top);
        line.id = element1.id + "-" + element2.id;
        console.log(element1.id)
        console.log(element2.id)
        console.log(line)
    }

    function create_lines(node) {
        var node_id = node.id;
        if (node_parents.hasOwnProperty(node_id)) {
            var parent_ids = node_parents[node_id];
            for (let i = 0; i < parent_ids.length; i++) {
                var parent = document.getElementById(parent_ids[i]);
                connectElements(node, parent);
            }
        }
    }

    function startup() {
        var all_nodes = document.getElementsByClassName('node');
        console.log("all_nodes")
        console.log(all_nodes)
        for (let i = 0; i < all_nodes.length; i++) {
            all_nodes[i].addEventListener('mouseover', mouse_in_node);
            all_nodes[i].addEventListener('mouseout', mouse_out_node);
            create_lines(all_nodes[i]);
            console.log("startup")
            console.log(all_nodes[i])
        }
    }
    document.addEventListener('DOMContentLoaded', startup);

</script>

<style>
    body {
        overflow: hidden;
    }

    :root {
        --node_height: 50px;
        --node_size: 115px;
        --shadow_size: calc(var(--node_size)/2);
        --shadow_size_r: calc(var(--node_size)/-2);
        --border_radius: 5px;
    }

    .node_internal {
        text-shadow:
            1px 1px 0 #ffffff,
            -1px 1px 0 #ffffff,
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff;
        color: black !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        display: flex;
        height: var(--node_height);
        width: var(--node_size);
        background: lightblue !important;
        /* transparent */
        border-radius: var(--border_radius);
        box-shadow: var(--shadow_size_r) var(--shadow_size_r) 0px var(--shadow_size_r) royalblue inset !important;
        transition: background-color 0.15s ease,
            box-shadow 0.15s ease !important;
    }

    .node_internal:hover {
        background: gold !important;
        box-shadow: var(--shadow_size) var(--shadow_size_r) 0px var(--shadow_size_r) darkorange inset !important;
    }

    .node_internal.highlighted_requirement {
        background: green !important;
        box-shadow: var(--shadow_size) var(--shadow_size_r) 0px var(--shadow_size_r) darkgreen inset !important;
    }

    .node {
        outline: 1px solid black;
        box-shadow: 2px 2px 3px 2px gray;
    }

    .node_location {
        border-radius: var(--border_radius);
        height: var(--node_height);
        width: var(--node_size);
        margin: 5px;
    }

    .node.node_location.selected_node {
        outline: 5px solid gold;
    }

    .column_title {
        font-weight: bold;
    }

    .graph_column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .graph {
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 2;
    }

    svg {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        /* border: solid; */
    }

    .graph_container {
        position: relative;
        height: min-content;
        overflow-x: auto;
    }

    .container {
        flex-grow: 1;
        text-align: center;
    }

    .scrollable {
        overflow-y: auto;
        max-height: 100vh;
        text-align: start;
    }

    .container_title {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 20px;
        text-align: center;
    }

    .split_screen {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: columns;
        max-height: 100vh;
    }


    .separator.horizontal {
        border-top: solid black 1px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .separator.vertical {
        border-left: solid black 1px;
        margin-left: 20px;
    }

    .arguments_view_container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 30vw;
    }

    .form_placeholder {
        border: dashed;
        text-align: center;
        padding: 150px;
    }

    .run_button {
        margin: 40px;
        margin-bottom: 5px;
        padding: 20px;
        width: 200px;
        color: black !important;
        background: lightblue;
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        box-shadow: 2px 2px 3px 2px gray;
        transition: background-color 0.1s, color 0.1s;
    }

    .run_button:hover {
        color: white !important;
        background: darkblue;
    }

    form {
        text-align: center;
    }

    .form_flex {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
    }
    .dropdown-menu {
        background-color: white;
        border-radius: 2px;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
        margin: 0;
        display: none;
        min-width: 200px;
        overflow: hidden;
        position: absolute;
        z-index: 999;
        will-change: width, height;
    }

    .dropdown-menu .dropdown-item {
        color: rgba(0,0,0,0.87);
        display: block;
        font-size: 16px;
        line-height: 22px;
        padding: 14px 16px;
    }

    .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
        background-color: #eeeeee;
    }

    .btn-primary.dropdown-toggle {
        color: rgb(0, 0, 0) ;
        background-color: lightblue;
        border: none;
        border-radius: 5px;
        text-align: center;
        height: 36px;
        line-height: 36px;
        outline: 0;
        padding: 0 2rem;
        text-transform: uppercase;
        vertical-align: middle;
        box-shadow: 0 2px 7px rgba(255, 255, 255, 0);
        transition: box-shadow 0.15s ease ;
    }

    .btn-primary.dropdown-toggle:focus {
        background-color: rgb(135, 175, 188);
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
    }
    
</style>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="pipelineDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Select Pipeline
    </button>
    <div class="dropdown-menu" aria-labelledby="pipelineDropdown">
        {% for key, value in available_pipelines.items %}
        <a class="dropdown-item" href="{{ value }}">{{ key }}</a>
        {% endfor %}
    </div>
</div>


<span class="split_screen">

    <div class="container">
        <div class="container_title">Select task in the {{ selected_pipeline }} pipeline</div>
        <div class="scrollable">
            <div class="graph_container">
                <svg></svg>
                <div class="graph">

                    {% for pipe in pipe_list %}
                    <div class="graph_column">
                        <div class="column_title">{{ pipe.name }}</div>
                        {% for step in pipe.steps %}
                        {% if step.is_empty %}
                        <div class="node_location"></div>
                        {% else %}
                        <div class="node node_location{% if step.is_selected %} selected_node{% endif %}"
                            id="{{ step.complete_name }}">
                            <a class="node_internal" href="{{ step.url }}">{{ step.name }}</a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% if step_name %}
    <div class="separator vertical"></div>

    <div class="container">
        <div class="container_title">Tune arguments</div>
        <div class="scrollable">
            <div class="arguments_view_container">
                <form action="{{ origin_url }}" method="post">
                    <div class="form_flex">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <input type="submit" value="Update arguments values" style="margin:20px;">
                </form>
                <div class="separator horizontal"></div>
                <div class="container_title">Launch task and requirements<br>{{selected_task_name}}</div>
                <a href="{{ run_url }}" class="run_button">Run task</a>
                <span style="font-size:12px; text-align:center;">This will queue up the task on the processing celery
                    cluster, if available.<br>Remember to update arguments first !</span>
                <span>
            </div>
        </div>
    </div>
    {% endif %}
</span>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var pipelineDropdown = document.getElementById('pipelineDropdown');
    pipelineDropdown.addEventListener('click', function (e) {
        e.preventDefault();
        var dropdownMenu = this.nextElementSibling;
        dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
    });

    document.addEventListener('click', function (e) {
        var dropdownMenu = document.querySelector('.dropdown-menu');
        if (!pipelineDropdown.contains(e.target) && !dropdownMenu.contains(e.target)) {
            dropdownMenu.style.display = 'none';
        }
    });
});
</script>

{% endblock %}