*.pyc
*__pycache__*
*.asv
*.pkl
*.patch
*.sql
*.html.py
*.orig
.venv*
.idea/*
.vscode/
.DS_Store
.pdm-python
.pdm-build/

alyx/data/management/commands/*ibl*
alyx/templates/ibl_reports
alyx/alyx/settings_secret.py
alyx/alyx/settings_lab.py

config
data
legacy/

*secrets*
