<div class="markdownx row" style="display:flex;">
    <div class="col-md-6" style="width: 50%;">
        {% include 'django/forms/widgets/textarea.html' %}
    </div>
    <div class="col-md-6" style="width: 50%;">
        <p>Test</p>
        <div class="markdownx-preview"></div>
    </div>
</div>

<script>
    function handleArrowKeys(event) {
      const textarea = document.getElementById('text-editor');
  
      if (event.key === 'ArrowUp') {
        // Move caret up
        event.preventDefault();
        const start = textarea.selectionStart;
        const currentLine = textarea.value.slice(0, start).split('\n').length;
        if (currentLine !== 1) {
          const prevLineLength = textarea.value.split('\n')[currentLine - 2].length;
          const caretPosition = start - prevLineLength - 1;
          textarea.setSelectionRange(caretPosition, caretPosition);
        }
      } else if (event.key === 'ArrowDown') {
        // Move caret down
        event.preventDefault();
        const end = textarea.selectionEnd;
        const lines = textarea.value.split('\n');
        const currentLine = textarea.value.slice(0, end).split('\n').length;
        if (currentLine !== lines.length) {
          const nextLineLength = lines[currentLine].length;
          const caretPosition = end + nextLineLength + 1;
          textarea.setSelectionRange(caretPosition, caretPosition);
        }
      }
    }
    window.addEventListener('DOMContentLoaded', function () {
        const textarea = document.getElementById('text-editor');
        textarea.addEventListener('keydown', handleArrowKeys)
    });
  </script>