{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/manager_ribbon.css' %}">
{{ block.super }}
{% endblock %}

{% block extrahead %}
<script>
  const url = 'http://127.0.0.1:52163'; // Python local utility app port : 52163

  document.addEventListener('DOMContentLoaded', function() {

      fetch(url + '/handshake', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
            mode: 'cors',
            credentials: 'same-origin'
        })
      .then(response => {
          if (response.ok) {
              console.log('GET handshake request sent successfully');
              document.getElementById('set-current-session').style.display = "block";
          } else {
              console.error('Failed to send GET handshake request');
          }
      })
      .catch(error => {
          console.error('Error:', error);
          
      });



      document.getElementById('set-current-session').addEventListener('mouseup', function() {
        const uuid = '{{ uuid }}';
        console.log("Alias is : " + uuid)
        fetch(url + '/set_current_session' + '?uuid=' + encodeURIComponent(uuid), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            mode: 'cors',
            credentials: 'same-origin'
        })
        .then(response => {
            if (response.ok) {
                console.log('POST request sent successfully');
            } else {
                console.error('POST bad request answered');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
      });
    });
  </script>

{{ block.super }}
{% endblock %}

{% block content %}

  {% if show_button %}
	<div class = "horizontal_aligned_alyx_buttons_container">
		<a class= "session-management-button" id="go-to-result-manager" href="{{results_url}}">Open in Result Manager</a>
    <a class= "session-management-button" id="go-to-task-manager" href="{{tasks_url}}">Open in Task Manager</a>
    <div class= "session-management-button" id="set-current-session">Set as setup's current session</div>
  </div>
  {% endif %}

  {{ block.super }}
{% endblock %}