{% extends 'admin/change_form.html' %}
{% load static %}

{% block content %}

	<div style="padding-top: 20px; padding-bottom: 20px;">
		<a id="go-to-result-manager" href="http://haiss-alyx.local:5000/images/{{uuid}}">Open in Result Manager</a>
    <style>
      #go-to-result-manager {
        display: inline;
        margin-top: 8px;
        margin-bottom: 15px;
        padding: 5px;
        background-color: #9b1e80;
        border-radius: 3px;
        color: white;
      }
    </style>
	</div>

  {{ block.super }}
{% endblock %}